.action-column {
  margin-top: 0.3em;
  opacity: 0;
  white-space: nowrap;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s; }
  .action-column a {
    display: inline-block;
    margin-right: 4px; }
    .action-column a:not(:last-child):after {
      display: inline-block;
      content: '|';
      margin-left: 4px; }

span.action-column {
  display: inline-block;
  margin-left: 0.5em; }

*:hover > .action-column {
  opacity: 1; }

/*# sourceMappingURL=actioncolumn.css.map */
